<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/health.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Data Report</title>
</head>
<body>
    <h1>Health Checkup Report:</h1>
    <table border="2">
        <thead>
            <th>Component Name</th>
            <th>Component Value</th>
            <th>Measure Date Time</th>
        </thead>
        <tbody>
            {% for eachEntry in data%}
            <tr>
                <td>{{eachEntry.componentName}}</td>
                <td>{{eachEntry.componentValue}}</td>
                <td>{{eachEntry.measuredDateTime}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="/">Home</a>
</body>
</html>